.card {
    width: 100vh;
    padding: 30px;
    margin: 50px auto 0px auto;
    background-color: orangered;
    color: white;
}

.card-title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: rgb(44, 44, 44);
}

#ligne1,
#ligne2 {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

#nbUser {
    font-size: 30px;
    padding-left: 15px;
    width: 65px;
    margin-right: 20px;
}

#nbCoups {
    margin-right: 20px;
    margin-left: 5px;
}

.bouton {
    font-size: 30px;
    color: white;
    background-color: rgb(44, 44, 44);
}

.saisie {
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.middle {
    vertical-align: middle;
}