.banner{
    align-items: center;    
    display:flex;    
    justify-content: center;
    color: white;
    background-color: rgb(40,44,52);
   border-bottom: 2px solid red;
   height: 200px;
}
img{
height: 150 px;
}
.description{
transform: translateX(30%);
}